@model IEnumerable<webapp.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to My Banking Application</h1>

<p>
    <a asp-action="Create">Add New Customer</a> |
    <a asp-action="Get">Bank API</a> |
    <a asp-action="Search">Search Customer</a> |

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Label)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Number">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Number">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Number">Delete</a> |
                    <a asp-action="Getid" asp-route-id="@item.Number">Json Response</a>
                </td>
            </tr>
        }

        
    </tbody>



    
</table>

<style>
.Search{
       float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
       

}
</style>